@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
	font-family: 'PP Monument Extended';
	src: url('@/assets/fonts/monument/PPMonumentExtended-Bold.woff2') format('woff2'), url('@/assets/fonts/monument/PPMonumentExtended-Bold.woff') format('woff'),
		url('@/assets/fonts/monument/PPMonumentExtended-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PP Monument Extended';
	src: url('@/assets/fonts/monument/PPMonumentExtended-Regular.woff2') format('woff2'), url('@/assets/fonts/monument/PPMonumentExtended-Regular.woff') format('woff'),
		url('@/assets/fonts/monument/PPMonumentExtended-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PP Monument Extended';
	src: url('@/assets/fonts/monument/PPMonumentExtended-Light.woff2') format('woff2'), url('@/assets/fonts/monument/PPMonumentExtended-Light.woff') format('woff'),
		url('@/assets/fonts/monument/PPMonumentExtended-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}